.box-contact {
  margin-top: 80px;
  position: fixed;
  z-index: 999;
  top: 100px;
}
.list-contact {
  list-style: none;
}
.contact-phone,
.contact-facebook,
.contact-instagram,
.contact-twitter,
.contact-tiktok {
    margin: 20px 0px 10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.contact-phone {
background-color: rgb(71, 210, 7);
}
.contact-facebook{
background-color: #4267b2;
}
.contact-instagram {
background-color: #CD486B;
}
.contact-twitter{
background-color: #1DA1F2;
}
.contact-tiktok{
background-color: black;
}
.phone,.facebook,.twitter,.instagram,.tiktok {
    color: white;
    margin-top:10px;
    margin-left:10px;
}
