*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
.home-page{
  padding-top: 80px;
}

.show-card {
  width: 80%;
  height: 100%;
  margin-top: 10px;
  border: none;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-home_alldog-title {
  background-image: linear-gradient(to left top,
  rgba(39, 238, 232, 0.5) 40%,
  rgba(81, 207, 252, 0.5)),url("../image/banner1.jpg");
  width: 100%;
  height: 30vh;
  background-size: cover;
  /* full backgroud*/
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-home_allcat-title {
  background-image: linear-gradient(to left top,
  rgba(39, 238, 232, 0.5) 40%,
  rgba(81, 207, 252, 0.5)),url("../image/banner2.jpg");
  width: 100%;
  height: 30vh;
  background-size: cover;
  /* full backgroud*/
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-home_alldog-title h4,.page-home_allcat-title h4 {
  font-size: 36px;
  font-weight: 600;
  color: rgb(9, 92, 103);
  padding-top: 100px;
  padding-left: 100px;
}