* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}
.container {
  max-width: 1140px;
}

.cards {
  border: none;
  position: relative;
  padding: 10px;
}
.card_pet {
  position: relative;
  transform: scale(1);
  transition: all 0.5s;
  margin-top: 20px;
  height: fit-content;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(6, 255, 251);
}
.cards:hover .card_pet {
  transform: scale(1.1);
  box-shadow: rgb(6, 255, 251, 0.5) 0px 5px, rgb(6, 255, 251, 0.4) 0px 10px,
    rgba(93, 255, 179, 0.339) 0px 15px, rgba(46, 240, 211, 0.1) 0px 20px,
    rgba(75, 240, 226, 0.05) 0px 25px;
}
.cards:hover .button-add-to-cart {
 display: block;
}
.card_pet-image {
  width: 100%;
  height: 250px;
  border-radius: 50%;
}
.card_pet-name {
  color: rgb(11, 11, 11);
  font-size: 14px;
  text-align: center;
  height: 30px;
}
.card-text_pet {
  box-shadow: rgba(38, 220, 240, 0.4) 0px 0px 0px 2px,
    rgba(53, 220, 223, 0.65) 0px 4px 6px -1px,
    rgba(58, 219, 217, 0.08) 0px 1px 0px inset;
  justify-content: left;
  width: 100%;
  height: 100%;
}
.card_pet-oldprice {
  text-decoration: line-through;
  font-size: 12px;
  color: rgb(249, 100, 7);
}
.card_pet-newprice {
  font-size: 12px;
  color: rgb(12, 12, 12);
  padding: 0px 10px;
}
.button-add-to-cart {
  position: absolute;
  background-color: rgb(185, 251, 253);
  color: black;
  width: 80%;
  height: 40px;
  border: none;
  margin-top: -200px;
  margin-left: 11px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: none;
  justify-content: center;
  align-items: center;
}
.button-add-to-cart:hover {
 background-color: rgb(148, 251, 250);
 color: rgb(14, 129, 129);
}