
.page-about-us {
  margin-top: 50px;
}
.banner-about-us {
  background-image: linear-gradient(
      to right top,
      rgba(2, 33, 64, 0.5) 50%,
      rgba(45, 95, 93, 0.8)
    ),
    url("../image/bannerPageAboutUs.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}
.logo-petshop {
  width: 10vh;
  height: 10vh;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  animation-name: move;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@keyframes move {
  0% {
    top: 0px;
    left: 50px;
  }
  25% {
    top: 0px;
    left: 1300px;
  }
  50% {
    top: 600px;
    left: 1300px;
  }
  75% {
    top: 600px;
    left: 100px;
  }
  100% {
    top: 0px;
    left: 50px;
    background-color: blue;
  }
}
.box-content {
  text-align: center;
}
.title h3 {
  font-size: 48px;
  font-weight: 600;
  color: white;
  position: relative;
  animation-name: MoveTitle, reSizeTitle, colorTittle;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes MoveTitle {
  from {
    left: 0px;
  }
  to {
    left: 100px;
  }
}
@keyframes reSizeTitle {
  from {
    width: 100%;
    height: 50px;
    font-size: 68px;
  }
  to {
    width: 100%;
    height: 50px;
  }
}
@keyframes colorTittle {
  from {
    color: rgb(243, 240, 139);
    font-size: 48px;
  }
  to {
    color: rgb(226, 250, 7);
  }
}
.content {
  margin-top: 20px;
}
.text-content p {
  font-size: 32px;
  color: white;
  font-weight: 500;
}
.text-content-phone {
  font-size: 22px;
  color: white;
  font-weight: 500;
}
.text-content-facebook {
  font-size: 22px;
  color: white;
  font-weight: 500;
}
.icon-phone {
  background-color: rgb(15, 207, 88);
  font-size: 40px;
  border-radius: 50%;
}
.text-content-facebook span,
.text-content-phone span {
  cursor: pointer;
  font-size: 20px;
  color: rgb(242, 255, 1);
  font-weight: 500;
}
.text-content-facebook span:hover,
.text-content-phone span:hover {
  text-decoration: underline;
  color: rgb(27, 175, 243);
}
.icon-facebook {
  font-size: 40px;
  color: rgb(70, 156, 243);
}
/*CSS COMPONENT --  ShopIntroduction.jsx */
.shop-introduction {
  margin-top: 10px;
}
.shop-introduction-pet h3 {
  font-weight: 600;
  text-align: center;
  text-decoration: double;
  font-size: 48px;
  color: rgba(2, 2, 2, 0.92);
  background-image: linear-gradient(to bottom, #9cff23 50%, #9ff5ff);
  border-radius: 10px;
}
.list-pet-cute {
  text-align: center;
}
.list-image {
  width: 100%;
  height: 200px;
}

/* FEATURED PRODUCTS ---CSS COMPONENT -- PetRelated.jsx */
.container-fluid {
  max-width: auto;
}
.carousel-related {
  margin-top: 30px;
  background-color: rgba(255, 255, 224);
  text-align: center;
}
.product-related_slide {
  margin: 20px 20px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 88, 0.6) 50%,
    rgb(255, 255, 224)
  );
  border-radius: 20px;
}
.slide_product_related {
  width: 80%;
  border: none;
  background-color: white;
  height: fit-content;
  margin-bottom: 20px;
  text-align: center;
}

.featured-products-title {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 88, 0.8) 50%,
    rgb(255, 255, 224)
  );
  text-align: center;
  height: fit-content;
  font-weight: 800;
  color: rgb(204, 197, 63);
}
.featured-products-title h5 {
  margin: 60px 0px;
  font-weight: 800;
  font-size: 40px;
}
@media (min-width: 1500px) {
  .product-related_slide {
    width: 70%;
  }
}
.readmore-all-pet-related h6 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(4, 125, 255);
  font-weight: 500;
  cursor: pointer;
  text-align: start;
}
.readmore-all-pet-related h6:hover {
  text-decoration: underline;
  color: rgb(3, 81, 164);
}

/*CSS COMPONENT --  ReadAllPtRelated */
.show-card-pet-related {
  background-image: linear-gradient(
    to bottom,
    #e4ff4b 20%,
    #f0ff99 30%,
    #9ff5ff
  );
}
.show-card-pet-related h3 {
  font-size: 48px;
  font-weight: 600;
  padding-top: 20px;
  text-align: center;
}
.card-grid {
  margin: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 40px;
  list-style: none;
}
.card {
  background-color: var(--bg-offset);
  padding: 0px;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card:hover {
  transform: scale(1.1);
}
.card.card-content h2 {
  display: block;
  -webkit-line-clamp: none;
  -webkit-box-orient: none;
  overflow: visible;
}
.card-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.card-image img {
  margin-top: -13px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  background-position: center;
}
.card-content {
  padding: 20px 15px;
}
.card-content h2 {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border: 1px solid red;
  height: 50px;
  margin-top: -20px;
}
.card-list {
  margin-top: 16px;
  list-style: none;
  font-size: 12px;
  text-align: center;
}
.card-list-sale {
  margin-top: 16px;
  list-style: none;
  font-size: 12px;
  text-align: center;
}
.card-list-sale span {
  text-decoration: line-through;
}
.card-list li {
  color: var(--text);
  margin-top: 8px;
}
.card-list li span {
  color: var(--gray);
}

.add-to-cart-pet-related {
  font-size: 12px;
  margin-top: -12px;
  margin-bottom: 5px;
}
.readless-all-pet-related h6 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(4, 125, 255);
  font-weight: 500;
  cursor: pointer;
  text-align: start;
}
.readless-all-pet-related h6:hover {
  text-decoration: underline;
  color: rgb(3, 81, 164);
}

/* CSS copmonent -- ContentAboutUs.jsx */
.content-about-us {
  height: fit-content;
  margin-bottom: 100px;
}
.content-about-us h3 {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  width: 300px;
  border-bottom: 4px solid rgb(2, 238, 255);
}
.content-about-us p {
  font-size: 28px;
  text-align: center;
}

