* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
}
.container-fluid {
  max-width: 100%;
}
.checkout-cart-title {
  width: auto;
  height: 80px;
}
.checkout-cart-title h3 {
  padding: 40px 0px 10px 10px;
}
.checkout-cart-right {
  background-color: rgb(240, 240, 240);
  border-left: white 2px solid;
}
.checkout-cart-left {
  background-color: rgb(240, 240, 240);
  border-right: white 2px solid;
}
.page-cart {
  padding-top: 80px;
}
/* Css table*/
thead {
  background-color: rgb(56, 53, 53);
}
thead tr th {
  color: white;
}
/* Css tbody-table into Cart**/

tbody tr {
  border-top: 0.6px solid rgb(162, 160, 160);
}
td.cart-item-info {
  text-align: left;
}
.cart-item-image {
  width: 80px;
  height: 100px;
  text-align: left;
  float: left;
}
h6.cart-item-name {
  max-width: 300px;
  word-break: break-word;
  font-size: 14px;
  text-align: left;
}
.cart-item-price {
  max-width: 100px;
  font-size: 14px;
}
span.cart-item-oldprice {
  word-break: break-word;
  font-size: 14px;
}
.cart-item-amount {
  max-width: 100px;
  word-break: break-word;
  font-size: 14px;
}
.cart-item-totalmoney {
  max-width: 80px;
  word-break: break-word;
  font-size: 14px;
}
.cart-item-oldprice {
  text-decoration: line-through rgb(238, 141, 36);
  color: rgb(238, 141, 36);
}

/*Css cpn ShopCart*/
.cart-increase-amount,
.cart-decrease-amount {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgb(153, 151, 151);
}
.cart-increase-amount:hover,
.cart-decrease-amount:hover {
  background-color: rgb(56, 53, 53);
  color: white;
}
.cart-item-amount {
  padding: 10px;
  margin: 5px;
}
.cart-item-amount b {
  font-size: 12px;
}
.item-remove {
  width: 40px;
  height: 20px;
  cursor: pointer;
  color: rgb(81, 79, 79);
}
.item-remove:hover {
  color: black;
}

/* tbody bảng phía dưới */
.number_priceold,
.number_discount,
.number_toltal-payment {
  text-align: right;
}
td.cart-order_toltal-payment h5,
td.number_toltal-payment {
  font-size: 20px;
  font-weight: 50px;
}

tr.payment {
  justify-content: center;
  align-items: center;
  width: 100%;
  color: black;
  font-weight: 700;
  width: 100%;
  border: none;
}
.payment input.make-a-payment {
  text-align: center;
  width: 100%;
  margin-left: 20px;
  background-color: rgba(67, 238, 232, 0.8);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.payment input.make-a-payment:hover {
  cursor: pointer;
  background-color: rgb(6, 209, 179);
}

/* thanh toán */
.checkout-order {
  background-image: linear-gradient(
      to left top,
      rgba(243, 234, 225, 0.4) 50%,
      rgba(250, 238, 227, 0.9)
    ),
    url("../image/backgroundPayment.jpg");
  background-size: cover;
  /* full backgroud*/
  background-position: center;
  /*can giua background */
  height: 60vh;
  text-align: center;
  box-shadow: inset 0 8px 8px -8px rgba(33, 32, 32, 0.5),
    inset 0 -10px 20px -10px rgb(0 0 0 / 30%);
}
.checkout-order .banner-checkout {
  padding-top: 150px;
}
.checkout-order .banner-checkout h3 {
  font-size: 72px;
  color: rgb(255, 123, 0);
}
.checkout-order .banner-checkout h6 {
  font-size: 20px;
  text-align: start;
  margin-top: 160px;
  margin-left: 30px;
  cursor: pointer;
  text-decoration: underline;
  color: rgb(255, 159, 5);
}
.checkout-order .banner-checkout h6:hover {
  color: rgb(255, 121, 18);
}
